<%- include('../include/head.ejs', pageTitle='Login' ) %>

<link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <%- include('../include/navigation.ejs') %>
    <main>
        <section class="container mt-5 mb-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <!-- Your form code goes here -->

                    <!-- Popup container for warnings -->
                    <div id="popup-container" class="popup-container">
                        <div class="warning-container" style="display: none;">
                            <strong>Warning:</strong> <%= warningMessage %>
                        </div>
                    </div>

                    <form id="resetForm" action="/forget-password" method="post">
                        <div class="text-center mb-3 ">
                            <p class="fw-bold fs-2">Forget Password:</p>
                            <div class="d-flex justify-content-center">
                                <a href="/auth/google" class="google-button">
                                    <img src="img/googleIcon.svg"
                                        alt="Google Logo" >
                                    Continue with Google
                                </a>
                            </div>
                        </div>
                        <p class="text-center fw-bold">Or:</p>
                        <div class="form-outline mb-4">
                            <input type="text" id="identifier" name="identifier"
                                class="form-control form-control-lg" placeholder="Email or username"
                                required>
                            <label class="form-label" for="identifier">Email or Username</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">Forget Password</button>
                    </form>

                    <!-- add a login option -->
                    <!-- add some margin top -->
                    <div class="text-center mt-3">

                        <p>Already have an account? <a href="/login">Login</a></p>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <%- include('../include/footer.ejs') %>

    <!-- JavaScript -->
    <script>
        // Set a global JavaScript variable
        const warningMessage = '<%= warningMessage %>';
    </script>
    <script src="js/warningPopup.js"></script>


    <style>
        .google-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 380px;
            height: 50px;
            background-color: white;
            color: #5F6368;
            border: 1px solid #e5e7eb;
            border-radius: .5rem;
            font-size: 15px;
            font-family: Arial, sans-serif;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
        }

        .google-button:hover {
            background-color: #2222220d;
        }

        .google-button img {
            margin-right: 10px;
        }

        .warning-container {
            background-color: #ffc107;
            color: #333;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ffc107;
            border-radius: 5px;
        }
    </style>
