<!-- views/signup.ejs -->

<%- include('../include/head.ejs', pageTitle='signup' ) %>

    </head>

    <body>
        <%- include('../include/navigation.ejs') %>

            <link rel="stylesheet" href="../css/login.css">
            <section >
                <div class="container mt-5 mb-5">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-lg-12 col-xl-11">
                            <div class="card text-black" style="border-radius: 25px;">
                                <div class="card-body p-md-5">
                                    <div class="row justify-content-center">
                                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up with</p>

                                            <div id="popup-container" class="popup-container">
                                                <div class="warning-container" style="display: none;">
                                                    <strong>Warning:</strong>
                                                    <%= warningMessage %>
                                                </div>
                                            </div>

                                            <form action="/signup" method="post">


                                                <div class="text-center mb-3">
                                                    <div class="d-flex justify-content-center">
                                                        <a href="/auth/google" class="google-button">
                                                            <img src="img/googleIcon.svg"
                                                                alt="Google Logo" >
                                                            Continue with Google
                                                        </a>
                                                    </div>
                                                </div>
                    
                                             
                                                <p class="text-center fw-bold">Or:</p>
                                                <!-- Username input -->
                                                <div class="d-flex flex-row align-items-center mb-4">
                                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                        <input type="text" id="username" name="username"
                                                            class="form-control" />
                                                        <label class="form-label" for="username">Username</label>
                                                    </div>
                                                </div>

                                                <!-- Email input -->
                                                <div class="d-flex flex-row align-items-center mb-4">
                                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                        <input type="email" id="email" name="email"
                                                            class="form-control" />
                                                        <label class="form-label" for="email">Email</label>
                                                    </div>
                                                </div>

                                                <!-- Password input -->
                                                <div class="d-flex flex-row align-items-center mb-4">
                                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                        <input type="password" id="password" name="password"
                                                            class="form-control" />
                                                        <label class="form-label" for="password">Password</label>
                                                    </div>
                                                </div>

                                                <!-- Repeat Password input (if necessary) -->
                                                <!-- <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                        <input type="password" id="repeat-password" name="repeat-password" class="form-control" />
                                        <label class="form-label" for="repeat-password">Repeat your password</label>
                                    </div>
                                </div> -->

                                                <!-- Checkbox for Terms of Service (optional) -->
                                                <div class="form-check d-flex justify-content-center mb-5">
                                                    <input class="form-check-input me-2" type="checkbox" value=""
                                                        id="terms-checkbox" />
                                                    <label class="form-check-label" for="terms-checkbox">
                                                        I agree to all statements in <a href="#!">Terms of Service</a>
                                                    </label>
                                                </div>

                                                <!-- Signup button -->
                                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                    <button type="submit" class="btn btn-primary btn-lg">Sign
                                                        Up</button>
                                                </div>

                                                <!-- Login link -->
                                                <p class="text-center mb-0">Already have an account? <a
                                                        href="/login">Log in</a></p>
                                            </form>


                                        </div>
                                        <div
                                            class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                                class="img-fluid" alt="Sample image">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const emailInput = document.getElementById('email');
                    const errorMessage = document.querySelector('.error-message');
                    const inputField = document.querySelector('.input-field');

                    emailInput.addEventListener('input', function () {
                        // Check validity on input
                        if (emailInput.checkValidity()) {
                            errorMessage.style.display = 'none';
                            inputField.classList.remove('invalid');
                        } else {
                            errorMessage.style.display = 'block';
                            inputField.classList.add('invalid');
                        }
                    });

                    emailInput.addEventListener('blur', function () {
                        // Check validity on blur
                        if (emailInput.checkValidity()) {
                            errorMessage.style.display = 'none';
                            inputField.classList.remove('invalid');
                        } else {
                            errorMessage.style.display = 'block';
                            inputField.classList.add('invalid');
                        }
                    });
                });
                // Parse the query parameter from the URL

            </script>
            <script>
                // Set a global JavaScript variable
                const warningMessage = '<%= warningMessage %>';
            </script>

            <script src="js/warningPopup.js"></script>

            
            <style>

                .google-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    /* width: 250px; */
                    width: 350px;
                    width: 380px;
                    height: 50px;
                    background-color: white;
                    color: #5F6368;
                    border: 1px solid #dadce0;
                    border: 1px solid #e5e7eb;
                    border-radius: .5rem;
                    font-size: 15px;
                    font-family: Arial, sans-serif;
                    cursor: pointer;
                 
                    transition: background-color 0.3s ease;
                    text-decoration: none;
                }

                .google-button:hover {
                    background-color: #f4f4f4;
                    background-color: #2222220d;
                }

                .google-button img {
                    margin-right: 10px;
                }
                .warning-container {
                    background-color: #ffc107;
                    color: #333;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #ffc107;
                    border-radius: 5px;
                    display: none;
                    /* Initially hide the container */
                }

                .error-message {
                    color: red;
                    font-size: 0.8rem;
                    display: none;
                }

                .input-field.invalid .error-message {
                    display: block;
                }

            </style>
            <%- include('../include/footer.ejs') %>