<%- include('../include/head.ejs') %>
</head>

<body>
    <%- include('../include/navigation.ejs') %>

    <link rel="stylesheet" href="/css/rent-card.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />

    <main class="container">
        <h1 class="text-center m-3">Rental Products</h1>
        <div class="rent_products">
            <% if (products.length > 0) { %>
                <% products.forEach(product => { %>
                    <div class="card mb-5 rounded-4" style="width: 18rem; filter: drop-shadow(0px 4px 2px rgb(206, 205, 205) );">
                        <!--  details -->
                        <a style="text-decoration: none;color: inherit;" href="/products/<%= product._id %>">
                        
                         <img class="card-img-top" style="border-radius: 16px 16px 0 0;aspect-ratio:4/3;" src="/<%= product.imageUrl %>" alt="Product Image">
                             <div class="card-body">
                                <h3 class="card-title"><%= product.name %></h3>
                                <p class="card-text">Description: <%= product.description %></p>
                                <p class="card-text">Category: <%= product.category %></p>
                       
                            <div class="rental-cost" id="rentalCost<%= product._id %>">
                                Rental Cost: ₹<span id="rentalPricePerDay<%= product._id %>">
                                    <%= product.rentalInfo.rentalPricePerDay %>
                                </span> per day
                            </div>
                        <div class="rental-cost" id="totalCost<%= product._id %>">
                            Estimated Cost: ₹<span id="totalCostValue<%= product._id %>">0.00</span>
                        </div>
                    </a>
                        <div class="date-range-picker">
                            <!-- <label for="dateRange<%= product._id %>">Duration:</label> -->
                            <input class="form-control w-100 border-1 border-success" type="text" id="dateRange<%= product._id %>" placeholder="Select Date Range" />
                        </div>
                        <form action="/rent/add-to-cart/<%= product._id %>" method="post">
                            <button class="rent-button" style="background-color: #198754;"><i class="fa fa-shopping-cart"></i> Add For Rent</button>
                        </form>
                    </div>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
                    <script>
                        const dateRangeInput<%= product._id %> = flatpickr("#dateRange<%= product._id %>", {
                            mode: "range", 
                            dateFormat: "Y-m-d", 
                            minDate: "today", 
                            disable: [ ], 
                            onChange: function (selectedDates, dateStr, instance) {
                                const dailyRentalRate<%= product._id %> = <%= product.rentalInfo.rentalPricePerDay %>;

                                const numDays = Math.ceil((selectedDates[1] - selectedDates[0]) / (1000 * 60 * 60 * 24));
                                const totalCost = dailyRentalRate<%= product._id %> * (numDays+1);

                                document.getElementById("totalCostValue<%= product._id %>").innerText = totalCost.toFixed(2);
                            },
                        });
                    </script>
                <% }); %>
            <% } else { %>
                <p>No rental products available.</p>
            <% } %>
        </div>
    </main>

    <%- include('../include/footer.ejs') %>
</body>
</html>
