<%- include('../include/head.ejs') %>
    </head>

    <body>
        <%- include('../include/navigation.ejs') %>

            <script>

                function calculateTotal(cartItems) {
                    let total = 0;
                    cartItems.forEach(item => {
                        total += (item.quantity * item.productId.rentalInfo.rentalPricePerDay);
                    });
                    return total;
                }
            </script>
            <style>
                .hello {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 10px 0;
                    padding: 10px;
                    border: 1px solid #ccc;
                }
            </style>

            <main>
                <h1>
                    <%= pageTitle %>
                </h1>
                <%for(item of cartItems) { %>
                    <!-- <%= item %>   -->
                    <div class="hello">


                        <img src="/<%= item.productId.imageUrl %>" alt="<%= item.productId.name %>"
                            style="width: 50px;">

                      <p>name:  <%= item.productId.name %> </p>
                        <p>price:  $<%= item.productId.rentalInfo.rentalPricePerDay %>/day</p>
                        <p>rental period:  <%= item.productId.rentalInfo.rentalPeriod %></p>
                        <p>start date: <%=item.rentalStartDate %> </p>
                        <p>end date: <%=item.rentalEndDate %> </p>

                        <p>quantity:  <%= item.quantity %></p>
                        <p>total:  $<%= (item.quantity * item.productId.rentalInfo.rentalPricePerDay).toFixed(2) %></p>
                        <form action="/rentcart/<%= item.productId._id %>/remove" method="post">
                            <button type="submit">Remove</button>
                        </form>

                    </div>


                    <% } %>


                        <% if (cartItems.length> 0) { %>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Rental Period</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cartItems.forEach(item=> { %>
                                        <tr>
                                            <td>
                                                <img src="/<%= item.productId.imageUrl %>"
                                                    alt="<%= item.productId.name %>" style="width: 50px;">
                                                <a href="/products/<%= item.productId._id %>">
                                                    <%= item.productId.name %>
                                                </a>
                                            </td>
                                            <td>
                                                <% if (item.productId.rentalInfo.rentalPeriod) { %>>
                                                    <%= item.productId.rentalInfo.rentalPeriod %>
                                                        <% } %>
                                            </td>
                                            <td>$<%= item.productId.rentalInfo.rentalPricePerDay %>/day</td>
                                            <td>
                                                <%= item.quantity %>
                                            </td>
                                            <td>
                                                $<%= (item.quantity *
                                                    item.productId.rentalInfo.rentalPricePerDay).toFixed(2) %>
                                            </td>
                                            <td>
                                                <form action="/rentcart/<%= item.productId._id %>/remove" method="post">
                                                    <button type="submit">Remove</button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">Total:</td>
                                        <td>$ <%=10 %>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>

                            <a href="/products" class="continue-shopping">Continue Shopping</a>
                            <button class="checkout">Proceed to Checkout</button>

                            <% } else { %>
                                <p>Your rental cart is empty.</p>
                                <% } %>
            </main>

            <%- include('../include/footer.ejs') %>

    </body>

    </html>