<%- include('../include/head.ejs') %>
</head>

<body>
    <%- include('../include/navigation.ejs') %>

    <main class="container my-5">
        <section class="products">
            <h2 class="text-center mb-5">Product List</h2>

            <div class="row row-cols-sm-2 row-cols-md-3  row-cols-lg-4  row-cols-xl-5 g-4">
                <% products.forEach(product => { %>
                <div class="col">
                    <div class="card h-100">
                        <a href="/products/<%= product._id %>" class="text-decoration-none text-dark">
                            <div class="card-img-container">
                                <img src="/<%= product.imageUrl %>" class="card-img-top" alt="<%= product.name %>">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><%= product.name %></h5>
                                <p class="card-text">
                                  <%= product.description || "No Description Provided" %> -  <% if (product.type === 'sellable') { %>
                                    <span class="badge bg-dark">Sellable</span>
                                    <% } else if (product.type === 'rentable') { %>
                                    <span class="badge " style="background-color: rgb(168, 122, 21);">Rentable</span>
                                    <% } %></p>
                                <p class="card-text"><small class="text-muted">#<%= product.category %> || <%= product.brand %></small></p>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <span class="text-dark fw-bold">₹<%= product.price %></span>
                                </div>
                            </div>
                        </a>
                        <div class="card-footer d-flex justify-content-between">
                            <form action="/admin/update-product/<%= product._id %>" method="get" class="m-0">
                                <button type="submit" class="btn btn-outline-secondary btn-sm">
                                    <i class="fa fa-edit"></i> Update
                                </button>
                            </form>
                            <form action="/admin/delete-product/<%= product._id %>" method="post" class="m-0">
                                <button type="submit" class="btn btn-outline-danger btn-sm delete-button" data-product-name="<%= product.name %>">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </section>

        <script>
            document.querySelectorAll('.delete-button').forEach(button => {
                button.addEventListener('click', event => {
                    const productName = button.dataset.productName;
                    if (!confirm(`Are you sure you want to delete the product: ${productName}?`)) {
                        event.preventDefault();
                    }
                });
            });
        </script>
    </main>

    <%- include('../include/footer.ejs') %>

    <style>
        .card-img-container {
            width: 100%;
            padding-top: 75%; /* 4:3 Aspect Ratio */
            position: relative;
            overflow: hidden;
        }

        .card-img-top {
       
            position: absolute;
        /* make it center */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width:  250px;
            max-height: 350px;
            /* height: 100%; */
            object-fit:scale-down; /* Ensures images cover the area without stretching */
            border-bottom: 1px solid #ddd;
        }

        .card-body {
            padding: 1rem;

            
    
           


        }

        .card-footer {
            background-color: #fff;
            border-top: 1px solid #ddd;
           /* background-color: aqua; */
            /* i want to keep the footer down  with some flexsible height */
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0.75rem 1rem;





        }

    </style>
</body>
</html>
