<%- include('../include/head.ejs', { pageTitle: 'Admin' }) %>
<%- //include('../css/login.css') %>
</head>

<body>

    <%- include('../include/navigation.ejs', { isAuthenticated }) %>

    <%- // include('css/login.css') %>
    <link rel="stylesheet" href="../css/admin.css">
    <header style="text-align: center;">
        <h2 class="mt-5 fw-bold">Admin Dashboard</h2>
    </header>

    <main class="main-content container ">

        <div class="dashboard-admin_cards">

            <div class="row">
                <a href="/admin/add-product" class="admin_card">
                    <img src="../img/add-product.png" alt="Product Icon">
                    <h3>Add Products</h3>
                    <p>Add new items to your store.</p>
                </a>
                <a href="/admin/products" class="admin_card">
                    <img src="../img/update-product.png" alt="Edit Icon">
                    <h3>Edit Products</h3>
                    <p>Modify details of existing products.</p>
                </a>
                <a href="/admin/products" class="admin_card">
                    <img src="../img/products.png" alt="View Products Icon">
                    <h3>View Products</h3>
                    <p>See a list of all your products.</p>
                </a>
                <a href="/admin/users" class="admin_card">
                    <img width="128" src="../img/customer-2.png" alt="Users Icon">
                    <h3>Manage Users</h3>
                    <p>Manage your customer accounts.</p>
                </a>
            </div>

            <div class="row">
                <a href="/admin/all-rentals" class="admin_card">
                    <img src="../img/orders-2.png" alt="Orders Icon">
                    <h3>Orders</h3>
                    <p>View and manage orders.</p>
                </a>
                <a href="/admin/all-rentals" class="admin_card">
                    <img src="../img/rent.png" alt="Rentals Icon">
                    <h3>Rentals</h3>
                    <p>View and Manage All Rentals.</p>
                </a>
                <a href="/admin/rent-reminder" class="admin_card">
                    <img src="../img/schedule.png" alt="Reminder Icon">
                    <h3>Rental Reminder</h3>
                    <p>Send Rental reminder.</p>
                </a>
                <a href="/admin?info=Comming Soon!" class="admin_card">
                    <img src="../img/settings.png" alt="Settings Icon">
                    <h3>Settings</h3>
                    <p>Change your store settings.</p>
                </a>
            </div>

        </div>
    </main>

    <%- include('../include/footer.ejs') %>
</body>
