

<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Product List</h1>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <h2><%= product.name %></h2>
                <p><%= product.description %></p>
                <p>Price: $<%= product.price %></p>
                <p>Category: <%= product.category %></p>
                <img src="<%= product.imagePath %>" alt="<%= product.name %> Image">
            </li>
        <% }); %>
    </ul>
</body>
</html>
