<%- include('../include/head.ejs') %>
  </head>

  <body>
    <%- include('../include/navigation.ejs') %>
      <link rel="stylesheet" href="/css/product-card.css">

      <main>

        <section class="products">
          <h2>Product List</h2>






          <div class="product-grid">

            <% products.forEach(product=> { %>
              <a href="/products/<%= product._id %>" class="a_card">

                <div class="product-card premium">
                  <div class="product-image">
                    <img src="<%= product.imageUrl  %>" alt="<%= product.name %>">
                    <div class="product-badge">New</div>
                  </div>

                  <div class="product-info">
                    <h3 class="product-title">
                      <%= product.name %>
                    </h3>
                    <p class="product-brand description">

                      <%= product.description %>
                    </p>
                    <div class="product-price">
                      <span class="original-price">$100</span>
                      <span class="sale-price">$<%= product.price %></span>
                      <span class="discount-badge">20% OFF</span>
                    </div>


                    <div class="product-actions">
                      <form action="/cart/add-to-cart/<%= product._id %>" method="post">

                        <!-- <button type="submit" class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add</button> -->
                        <!-- <button class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add</button> -->
                        <button class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add</button>
                      </form>
                      <form action="">
                        <button class="wishlist"><i class="far fa-heart"></i></button>

                      </form>
                      <!-- <button class="wishlist"><i class="far fa-heart"></i></button> -->
                    </div>
                  </div>
                </div>
              </a>
              <% }) %>

          </div>

        </section>



      </main>
      <%- include('../include/footer.ejs') %>