<%- include('../include/head.ejs') %>
</head>

<body>
    <%- include('../include/navigation.ejs') %>

    <main>
        <h1 class="text-center py-4">Product Details</h1>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img class="img-fluid" style="aspect-ratio: 1/1; height: 350px;border: 4px solid greenyellow;border-radius: 20px;" src="/<%= product.imageUrl %>" alt="<%= product.name %> Image" >
                </div>
                <div class="col-lg-6">
                    <div class="product-details">
                        <h1 style="background-color: #ed9068c0; padding: 12px 14px; border-radius: 12px;width: fit-content;" class="display-4"><%= product.name %></h1>
                        <h5>Description: <%= product.description %></h5>
                        <h5>Category: <%= product.category %></h5>
                        <h5>Types: <%= product.type %></h5>
                    </div>
                    <!-- Place the price h5 element here -->
                    <h5 class="mt-4">Price: <%= product.price %></h5>
                </div>
            </div>
        </div>

    </main>

    <%- include('../include/footer.ejs') %>
</body>

</html>
